/* Title */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#title{
	background-image: linear-gradient( 65.1deg,  rgba(255,238,187,1) 39.1%, rgba(255,220,184,1) 96.5% );	
	height: 100vh;
	display: flex;
	align-items: center;
	width: 100%;	
	font-family: 'Montserrat', sans-serif;
}

.fa-shopping-cart{
	color: #545454;
}

.container-fluid{
	width: 90%;
	/* background-color: lightblue; */
	height: 100%;
	padding-top: 40px;
}

.cover-section{
	/* background-color: lightcoral; */
	margin: 100px 0 10px 0;
	color: #545454;
	/* height: 100vh;
	background-color: lightslategray; */
}

.tagline{
	font-size: 100px;
	font-weight: bolder;
}

/* Navbar */

.form-inline{
	width: 20%;
	/* background-color: lightgreen; */
	position: relative;
	left: 20px;
}

.form-inline input{
	width: 100% !important;
	background: transparent;
	border: 0px;
	border-bottom: 1px solid #545454;
	border-radius: 0px;
}

.navbar-nav > li{
	padding-left:30px;
	/* padding-right:30px; */
}

.navbar-brand{
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	font-size: 25px;
	letter-spacing: 5px;
	color: #545454 !important;
}

/* Features */

#features{
	/* background-color: rgba(255,238,187,0.2); */
	/* background-color: lightpink; */
	width: 90%;
	margin: 0 auto 0px auto;
	text-align: center;
	display: flex;
	align-items: center;
	padding : 40px 0 80px 0;

}

.feature-heading{
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 2;
	width: 100%;
	margin: 0 auto;
}

.feature-heading p{
	/* background-color: lightpink; */
	padding: 20px 0 0 10px;
	font-size: 30px;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	color: #000;
}

.feature{
	/* background-color: lightseagreen; */
	display: flex;
	flex-direction: column;
	align-items: center;
}

.feature-description{
	width: 80%;
	text-align: center;
	font-weight: 300;
	color: #545454;
	font-size: 18px;
}

svg{
	color: #000;
}

/* svg:hover{
	color: #ffdcb8;
}
.feature-heading>p:hover{
	color: #ffdcb8;
} */
.feature-heading:hover{
	color: #ffdcb8;
}


/* Popular */

#populars{
	/* background-color: #ffeebb; */
	/* background-color: lightblue; */
	/* background-color:  rgba(255,220,184,1) ; */
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 0 100px 0;
	font-family: 'Montserrat', sans-serif;
	width: 100%;
}

.section-heading{
	color: #545454;
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	padding: 20px 10px;
	/* background-color: lightcoral; */
}

.cards-section{
	/* background-color: lightgreen; */
	margin: 0 auto;
	width: 80%;
}

.card-img-top{
	height: 500px;
}

.card-heading
{
	font-size: 30px;
	font-weight: bolder;
}

.card-description{
	color: #545454;
	font-weight: 100;
	font-size: 15px;
	display: flex;
	text-align: center;
	/* background-color: aqua; */
	justify-content: center;
}

.card-description>p{
	/* background-color: aquamarine; */
	margin-top: 10px;
}


/* Discounts */

#discount{
	/* background-color: lightcoral; */
	text-align: center;
	width: 100%;
}

.boxes{
	/* background-color: lightblue; */
	width: 90%;
	margin: 0 auto 0 180px;
	text-align: center;
}

/* .big-box-2{
	display: flex;
	flex-direction: column;
	width: 50%;
	background-color: aqua;
	height: 500px;
} */

.big-box-2{
	height: 500px;
	width: 600px;
	/* background-color: lawngreen; */
}

.b-1{
	background-color: #ffc1b6;	
	height: 500px;
	border: 10px solid white;
}

.b-2{
	background-color: #ffdcb8;
	height: 50%;
	border: 10px solid white;
}

.b-3{
	/* background-color: #fdffbc; */
	background-color: #ffeebb;
	height: 50%;
	border: 10px solid white;
}

.inside-box{
	/* background-color: lightslategray; */
	height: 90%;
	width: 100%;
	border: 10px solid white;
}

